<h1>Should I leave my beer outside?</h1>
<%= form_with url: "/results", scope: :post, local: true do |f| %>

  <%= f.label :country, "Country" %>
  <%= f.text_field :country, class: 'form-control' %>

  <%= f.label :zip, "ZIP" %>
  <%= f.text_field :zip, class: 'form-control' %>

  <%= f.label :abv, "Alcohol by volume" %>
  <%= f.text_field :abv, class: 'form-control' %>

  <%= f.submit "Submit"%>

<% end %>
