<%= @beercheck.tempurature %>, <%= @beercheck.is_farenheit %>, <%= @beercheck.abv %>
<br>
<%= @url %>
<br>
<%= @weather %>
<br>
<%= @weather_hash %>

<% if @beercheck.can_leave_out %>
<p> You can put your beer on the porch!</p>
<% else %>
<p> You can't put your beer on the porch :( </p>
<% end %>
